#spel-container {
    width: 800px;
    height: 600px;
    position: relative;
    margin: 50px auto;
    border: 2px solid #fff;
    background-image: url('ruimte-achtergrond.jpg');
    background-size: cover;
    overflow: hidden;
}

.planeet {
    width: 100px;
    position: absolute;
}

#aarde {
    bottom: 20px;
    left: 20px;
}

#mercurius {
    top: 20px;
    right: 20px;

}

#ruimteschip_heen {
    left: 20px; /* Startpositie: bij de aarde */
    bottom: 70px; /* Iets boven de aarde */
    display: block; /* Zichtbaar bij start */
}

#ruimteschip_terug {
    left: calc(100% - 70px); /* Startpositie: bij Mercurius */
    bottom: calc(100% - 120px); /* Iets onder Mercurius */
    display: none; /* Verborgen bij start */
}
