#spel-container {
    width: 800px;
    height: 600px;
    position: relative;
    margin: 50px auto;
    border: 2px solid #fff;
    background-image: url('ruimte-achtergrond.jpg');
    background-size: cover;
    overflow: hidden;
}

.planeet {
    width: 100px;
    position: absolute;
}

#aarde {
    bottom: 20px;
    left: 20px;
}

#mercurius {
    top: 20px;
    right: 20px;

}
  #ruimteschip_heen {
      left: 70px; /* positie boven de aarde */
      bottom: 120px;
      display: block;
  }

  #ruimteschip_terug {
      left: calc(100% - 120px); /* positie boven Mercurius */
      bottom: calc(100% - 170px);
      display: none;
  }

  #ruimteschip_heen, #ruimteschip_terug {
      width: 50px; /* of een andere gewenste breedte */
      height: auto; /* behoudt de aspect ratio */
      position: absolute;
      transition: left 8s linear, bottom 8s linear;
  }

