#spel-container {
    width: 800px;
    height: 600px;
    position: relative;
    margin: 50px auto;
    border: 2px solid #fff;
    background-image: url('ruimte-achtergrond.jpg');
    background-size: cover;
    overflow: hidden;
}

.planeet {
    width: 100px;
    position: absolute;
}

#aarde {
    bottom: 20px;
    left: 20px;
}

#mercurius {
    top: 20px;
    right: 20px;
}

#ruimteschip_heen {
    width: 50px;
    position: absolute;
    left: 20px; /* Startpositie: zelfde als aarde */
    bottom: 70px; /* Iets boven de aarde */
    transition: left 8s linear, bottom 8s linear;
}

#ruimteschip_terug {
    width: 50px;
    position: absolute;
    left: 20px; /* Startpositie: zelfde als aarde */
    bottom: 70px; /* Iets boven de aarde */
    transition: left 8s linear, bottom 8s linear;

}
